{{- if .Values.web.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "osm-seed.fullname" . }}-web
  labels:
    app: {{ template "osm-seed.name" . }}
    component: web-deployment
    environment: {{ .Values.environment }}
    release: {{ .Release.Name }}
spec:
  replicas: {{ .Values.web.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "osm-seed.name" . }}
      release: {{ .Release.Name }}
      run: {{ .Release.Name }}-web
  template:
    metadata:
      labels:
        app: {{ template "osm-seed.name" . }}
        release: {{ .Release.Name }}
        run: {{ .Release.Name }}-web
    spec:
      containers:
        - name: {{ .Chart.Name }}-web
          image: "{{ .Values.web.image.name }}:{{ .Values.web.image.tag }}"
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /api/0.6/capabilities
              port: 80
            initialDelaySeconds: 600 # 10 min, because the compile process takes time.
            timeoutSeconds: 30
          {{- if .Values.web.resources.enabled }}
          resources:
            requests:
              memory: {{ .Values.web.resources.requests.memory }}
              cpu: {{ .Values.web.resources.requests.cpu }}
            limits:
              memory: {{ .Values.web.resources.limits.memory }}
              cpu: {{ .Values.web.resources.limits.cpu }}
          {{- end }}
          env:
            - name: GET_HOSTS_FROM
              value: dns
            - name: POSTGRES_HOST
              value: {{ .Release.Name }}-db # This should give us the host for DB on the cluster.
            - name: POSTGRES_DB
              value: {{ .Values.db.env.POSTGRES_DB }}
            - name: POSTGRES_PASSWORD
              value: {{ quote .Values.db.env.POSTGRES_PASSWORD }}
            - name: POSTGRES_USER
              value: {{ .Values.db.env.POSTGRES_USER }}
            - name: MAILER_ADDRESS
              value: {{ .Values.web.env.MAILER_ADDRESS }}
            - name: MAILER_DOMAIN
              value: {{ .Values.web.env.MAILER_DOMAIN }}
            - name: MAILER_USERNAME
              value: {{ .Values.web.env.MAILER_USERNAME }}
            - name: MAILER_PASSWORD
              value: {{ quote .Values.web.env.MAILER_PASSWORD }}
            - name: MAILER_FROM
              value: {{ quote .Values.web.env.MAILER_FROM }}
            - name: OSM_id_key
              value: {{ .Values.web.env.OSM_id_key }}
            - name: OSM_memcache_servers
              value: {{ .Release.Name }}-memcached:11211
            # Set domain name or pod ip  
              {{- if .Values.domain.enabled }}
            - name: SERVER_URL
              value: {{ .Values.domain.domainName }}
            - name: SERVER_PROTOCOL
              value : {{ .Values.domain.protocolo }}
              {{- else }}
            - name: SERVER_URL
              value: dns
            - name: SERVER_PROTOCOL
              value : http
              {{- end }}
      {{- if .Values.web.nodeSelector.enabled }}
      nodeSelector:
        {{ .Values.web.nodeSelector.label_key }} : {{ .Values.web.nodeSelector.label_value }}
      {{- end }}
{{- end }}
