# ignore .git and .cache folders
.git
.cache
tiler-imposm/
postgres-gis-data/
postgres-data/
planet-dump/
openstreetmap-website/
helm/
replication-job/
populate-apidb/
osm-processor/
full-history/
tiler-db/
tiler-server/
db/
id-editor/
tiler-visor/
package.json
db-backup-restore/
nominatim-data/
postgresdata/
taginfo-data/
data/
.env
.env-nominatim
.env-nominatim.example
.env-overpass
.env-overpass.example
.env-taginfo
.env-taginfo.example
.env-tasking-manager.example
.env-tiler
.env-tiler.example
.env.example\
.env.*
.env.*.example
# ignore all *.class files in all folders, including build root
**/*.json

# ignore all markdown files (md) beside all README*.md
*.md
!README*.md
changeset-replication-job/config.yaml
envs/