# ====================================================================================================
# General configuration related to the platform provider  and file storage
# ====================================================================================================
#choose the cloud provider, in this case would be docker
CLOUDPROVIDER=docker

# Google Store access
# GCP_STORAGE_BUCKET=gs://osm-seed

# AWS Store access

# AWS_S3_BUCKET=s3://osm-seed

# ====================================================================================================
# tiler-db env variables
# ====================================================================================================
POSTGRES_HOST=tiler-db
POSTGRES_DB=tiler-osm
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_PORT=5432

# ====================================================================================================
# tiler-imposm  evn variables  
# ====================================================================================================
TILER_IMPORT_FROM=osm
TILER_IMPORT_PBF_URL=https://osmseed.s3.amazonaws.com/planet/planet-latest.osm.pbf
#TILER_IMPORT_LIMIT='geojson url'
SEQUENCE_NUMBER=0
REPLICATION_URL=https://osmseed.s3.amazonaws.com/replication/minute/

# ====================================================================================================
# tiler-serve env variables,
# TILER_CACHE_* , by default osmseed-tiler is using aws-s3 for caching the tiles, if you want to change it,
# take a look in: https://github.com/go-spatial/tegola/tree/master/cache
# ====================================================================================================
TILER_SERVER_PORT=9090
TILER_CACHE_TYPE=s3
TILER_CACHE_BASEPATH=/mnt/data
TILER_CACHE_MAX_ZOOM=22

## Enable this section In case TILER_CACHE_TYPE=s3
TILER_CACHE_BUCKET=osmseed-staging
TILER_CACHE_BASEPATH=tegola
TILER_CACHE_REGION=us-east-1
TILER_CACHE_AWS_ACCESS_KEY_ID=...
TILER_CACHE_AWS_SECRET_ACCESS_KEY=...

# ====================================================================================================
# Tiler visor
# ====================================================================================================
TILER_SERVER_HOST=localhost
TILER_VISOR_PROTOCOL=http
TILER_VISOR_HOST=localhost
TILER_VISOR_PORT=8081


# In order to access from the local to the server
CLOUDPROVIDER=aws
AWS_ACCESS_KEY_ID=...
AWS_SECRET_ACCESS_KEY=...
AWS_S3_BUCKET=s3://osmseed
