# ====================================================================================================
# General configuration related to the platform provider  and file storage
# ====================================================================================================
#choose the cloud provider, in this case would be docker
CLOUDPROVIDER=docker

# Google Store access
GCP_STORAGE_BUCKET=gs://osm-seed

# AWS Store access

AWS_S3_BUCKET=s3://osm-seed

# ====================================================================================================
# tiler-renderer env variables
# ====================================================================================================
MOD_TILE_HOST=localhost
MOD_TILE_PORT=1337
MOD_TILE_PATH=hot
EXPIRED_DIR=/mnt/expired
REPLICATION_DIR=/mnt/data

# ====================================================================================================
# tiler-db env variables
# ====================================================================================================
POSTGRES_HOST=tiler-db
POSTGRES_DB=tiler-osm
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
POSTGRES_PORT=5432

# ====================================================================================================
# tiler-imposm env variables  
# IMPOSM_IMPORT_FROM could be osm or osmseed
# IMPOSM_IMPORT_PBF_URL Sould be a public file
# ====================================================================================================
IMPOSM_IMPORT_FROM=osm
IMPOSM_IMPORT_PBF_URL='https://download.geofabrik.de/asia/israel-and-palestine-latest.osm.pbf'
# TILER_IMPORT_LIMIT='geojson url'
IMPOSM_MAPPING_FILE=imposm3.json

# ====================================================================================================
# Osm2pgsql
# ====================================================================================================
OSM2PGSQL_IMPORT_PBF_URL='https://download.geofabrik.de/asia/israel-and-palestine-latest.osm.pbf'
OSM2PGSQL_UPDATE_INTERVAL=60
RENDER_EXPIRED_TILES_INTERVAL=60

# ====================================================================================================
# tiler-serve env variables,
# TILER_CACHE_* , by default osmseed-tiler is using aws-s3 for caching the tiles, if you want to change it,
# take a look in: https://github.com/go-spatial/tegola/tree/master/cache
# ====================================================================================================
TILER_SERVER_PORT=9090
TILER_CACHE_TYPE=file
TILER_CACHE_BASEPATH=/mnt/data
TILER_CACHE_MAX_ZOOM=22

# ====================================================================================================
# Tegola postgres (tiler-db)
# ====================================================================================================
TEGOLA_POSTGRES_HOST=tegola-tiler-db
TEGOLA_POSTGRES_DB=tegola-tiler-osm
TEGOLA_POSTGRES_USER=postgres
TEGOLA_POSTGRES_PASSWORD=1234
TEGOLA_POSTGRES_PORT=5432

## Enable this section In case TILER_CACHE_TYPE=s3
# TILER_CACHE_BUCKET=osmseed-tiler
# TILER_CACHE_BASEPATH=/mnt/data
# TILER_CACHE_REGION=us-east-1
# TILER_CACHE_AWS_ACCESS_KEY_ID=xyz
# TILER_CACHE_AWS_SECRET_ACCESS_KEY=xyz

# ====================================================================================================
# Tiler visor
# ====================================================================================================
TILER_SERVER_HOST=localhost
TILER_VISOR_PROTOCOL=http
TILER_VISOR_HOST=localhost
TILER_VISOR_PORT=8081
