AWS_ACCESS_KEY_ID=foo
AWS_SECRET_ACCESS_KEY=bar
AWS_DEFAULT_REGION=us-east-1
S3_OSM_PATH=s3://foo/bar
POSTGRES_HOST=db
POSTGRES_DB=openstreetmap
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
MAILER_ADDRESS=smtp.gmail.com
MAILER_DOMAIN=gmail.com
MAILER_USERNAME=osmseed@gmail.com
MAILER_PASSWORD=1234
ID_APPLICATION_URL=http://localhost
ID_APPLICATION_OAUTH_CONSUMER_KEY=MjogbcYQcMARSdsadasNsDsLLXYojWLitL5Fu9pk5DYIKv12345678
ID_APPLICATION_OAUTH_SECRET=6PhYOaO5wmbzkw7TyBqmHB2ApoasdashUiqWh1SPXLAMz12345678
ACTION=true