# Server settings
SERVER_URL=127.0.0.1
SERVER_PROTOCOL=http

# DB settings
POSTGRES_HOST=db
POSTGRES_DB=openstreetmap
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234

# Mailer settings
MAILER_ADDRESS=smtp.gmail.com
MAILER_DOMAIN=gmail.com
MAILER_USERNAME=osmseed.test@gmail.com
MAILER_PASSWORD=1234

# DB acction: backup or restore
DB_ACTION=backup

#Choose type of storage, S3 or GS
STORAGE=GS

# Google Store access
GS_OSM_PATH=gs://osm-seed
GCLOUD_SERVICE_KEY=xyz
GCLOUD_PROJECT=osm-seed

# AWS s3 access
AWS_ACCESS_KEY_ID=abc
AWS_SECRET_ACCESS_KEY=xyz
AWS_DEFAULT_REGION=us-east-1
S3_OSM_PATH=s3://osm-seed

#Activate as true if you want to clean up the backup files 5 days old.
CLEAN_BACKUPS=true

# Oauth iD
OAUTH_CONSUMER_KEY=abc
OAUTH_SECRET=xyz

# GIS OSM data base
GIS_POSTGRES_HOST=tiler-db
GIS_POSTGRES_DB=gis_osm
GIS_POSTGRES_USER=postgres
GIS_POSTGRES_PASSWORD=1234
POSTGIS_VERSION=2.4.4

# Tiler server
TILER_SERVER_PORT=9090
CACHE_TYPE=file

# Tiler visor
TILER_SERVER_HOST=localhost
TILER_VISOR_PROTOCOL=http
TILER_VISOR_HOST=localhost
TILER_VISOR_PORT=8081