SERVER_URL=localhost
SERVER_PROTOCOL=http
POSTGRES_HOST=db
POSTGRES_DB=openstreetmap
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
MAILER_ADDRESS=smtp.gmail.com
MAILER_DOMAIN=gmail.com
MAILER_USERNAME=osmseed.test@gmail.com
MAILER_PASSWORD=1234
DB_ACTION=backup
# Google Store access
GS_OSM_PATH=gs://osm-seed
GCLOUD_SERVICE_KEY=abcd...==
GCLOUD_PROJECT=osm-seed
# AWS s3 access
AWS_ACCESS_KEY_ID=AKIAIBESET6ALNIXSSZA
AWS_SECRET_ACCESS_KEY=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
AWS_DEFAULT_REGION=us-east-1
S3_OSM_PATH=s3://osm-seed
