.env
.env-tiler
.env-nominatim
.env-tasking-manager
.env-overpass
.env-taginfo
.DS_Store
.env.*
!.env.*.example

usa.values.yaml
prod.values.yaml
planet.values.yaml
values.tiler.yaml
values.*.yaml
*.values.yaml
postgres-data/
replication-job-data/
populate-apidb-data/
osm-processor-data/
postgres-gis-data/
tiler-imposm-data/
tiler-server-data/
nominatim-pgdata/
taginfo-data/
*.osm
*.pbf
*.bz2

tiler-imposm/config.json
tiler-imposm/cachedir/
tiler-imposm/diff/
tiler-imposm/imposm3_expire_dir
tiler-server/imposm/
overpass-api-db/
data/*/
!data/README.md
images/changeset-replication-job/config.yaml