apiVersion: v1
kind: Service
metadata:
  name: {{ template "osm-seed.fullname" . }}-web
  labels:
    app: {{ template "osm-seed.chart" . }}
    component: web-service
    environment: {{ .Values.environment }}
    release: {{ .Release.Name }}
spec:
  type: {{ .Values.web.serviceType }}
  {{- if .Values.web.staticIp.enabled }}
  loadBalancerIP : {{ .Values.web.staticIp.ip }}
  {{- end }}
  ports:
    - port: 80
      targetPort: http
      protocol: TCP
      name: http
  selector:
    app: {{ template "osm-seed.name" . }}
    release: {{ .Release.Name }}
    run: {{ .Release.Name }}-web