URL_PLANET_FILE_STATE=https://s3.amazonaws.com/osm-seed.org/planet/state.txt
URL_HISTORY_PLANET_FILE_STATE=https://s3.amazonaws.com/osm-seed.org/planet/full-history/state.txt
URL_PLANET_FILE='none'
URL_HISTORY_PLANET_FILE='none'
TIME_UPDATE_INTERVAL=7d
TAGINFO_PROJECT_REPO=https://github.com/OpenHistoricalMap/taginfo-projects.git
DOWNLOAD_DB='languages wiki'
CREATE_DB='db projects chronology'
ENVIRONMENT=production
INTERVAL_DOWNLOAD_DATA=7d
FETCH_DB_FILES=false
TAGINFO_DB_BASE_URL=https://osm-seed.s3.amazonaws.com/taginfo/staging
AWS_S3_BUCKET=osm-seed

