{{- if .Values.web.enabled -}}
apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ template "osm-seed.fullname" . }}-web
  labels:
    app: {{ template "osm-seed.name" . }}
    component: web-deployment
    environment: {{ .Values.environment }}
    release: {{ .Release.Name }}
spec:
  replicas: {{ .Values.web.replicaCount }}
  selector:
    matchLabels:
      app: {{ template "osm-seed.name" . }}
      release: {{ .Release.Name }}
      run: {{ .Release.Name }}-web
  template:
    metadata:
      labels:
        app: {{ template "osm-seed.name" . }}
        release: {{ .Release.Name }}
        run: {{ .Release.Name }}-web
    spec:
      containers:
        - name: {{ .Chart.Name }}-web
          image: "{{ .Values.web.image.name }}:{{ .Values.web.image.tag }}"
          ports:
            - name: http
              containerPort: 80
              protocol: TCP
          livenessProbe:
            httpGet:
              path: /api/0.6/capabilities
              port: 80
            initialDelaySeconds: 600 # 10 min, because the compile process takes time.
            timeoutSeconds: 30
          {{- if .Values.web.resources.enabled }}
          resources:
            requests:
              memory: {{ .Values.web.resources.requests.memory }}
              cpu: {{ .Values.web.resources.requests.cpu }}
            limits:
              memory: {{ .Values.web.resources.limits.memory }}
              cpu: {{ .Values.web.resources.limits.cpu }}
          {{- end }}
          env:
            - name: GET_HOSTS_FROM
              value: dns
            - name: POSTGRES_HOST
              value: {{ .Release.Name }}-db # This should give us the host for DB on the cluster.
            - name: POSTGRES_DB
              value: {{ .Values.db.env.POSTGRES_DB }}
            - name: POSTGRES_PASSWORD
              value: {{ quote .Values.db.env.POSTGRES_PASSWORD }}
            - name: POSTGRES_USER
              value: {{ .Values.db.env.POSTGRES_USER }}
            - name: MAILER_ADDRESS
              value: {{ .Values.web.env.MAILER_ADDRESS }}
            - name: MAILER_DOMAIN
              value: {{ .Values.web.env.MAILER_DOMAIN }}
            - name: MAILER_USERNAME
              value: {{ .Values.web.env.MAILER_USERNAME }}
            - name: MAILER_PASSWORD
              value: {{ quote .Values.web.env.MAILER_PASSWORD }}
            - name: MAILER_FROM
              value: {{ .Values.web.env.MAILER_FROM }}
            - name: MAILER_PORT
              value: {{ .Values.web.env.MAILER_PORT | default "25" | quote }}
            - name: ID_APPLICATION
              value: {{ .Values.web.env.ID_APPLICATION }}
            - name: OAUTH_CLIENT_ID
              value: {{ .Values.web.env.OAUTH_CLIENT_ID }}
            - name: OAUTH_KEY
              value: {{ .Values.web.env.OAUTH_KEY }}
            - name: OPENSTREETMAP_memcache_servers
              value: {{ .Release.Name }}-memcached:11211
              # Set SERVER_URL in case we use ingress
              {{- if eq .Values.serviceType "ClusterIP" }}
            - name: SERVER_URL
              value: web.{{ .Values.domain }}
            - name: SERVER_PROTOCOL
              value : "https"
              {{- end }}
              # Set SERVER_URL in case we use LoadBalancer
              {{- if eq .Values.serviceType "LoadBalancer" }}
            - name: SERVER_URL
              value: {{ .Values.domain }}
            - name: SERVER_PROTOCOL
              value : "https"
              {{- end }}
              # Set SERVER_URL in case we use NodePort
              {{- if eq .Values.serviceType "NodePort" }}
            - name: SERVER_URL
              value: dns
            - name: SERVER_PROTOCOL
              value : http
              {{- end }}
              # Nominatim domain
            - name: NOMINATIM_URL
              value: {{ .Values.web.env.NOMINATIM_URL }}
              # Nominatim domain
            - name: OVERPASS_URL
              value: {{ .Values.web.env.OVERPASS_URL }}
            # Here can be added other Env variables for monitoring, debugging, etc.
            - name: NEW_RELIC_LICENSE_KEY
              value: {{ .Values.web.env.NEW_RELIC_LICENSE_KEY | default ""}}
            - name: NEW_RELIC_APP_NAME
              value: {{ .Values.web.env.NEW_RELIC_APP_NAME | default ""}}
      {{- if .Values.web.nodeSelector.enabled }}
      nodeSelector:
        {{ .Values.web.nodeSelector.label_key }} : {{ .Values.web.nodeSelector.label_value }}
      {{- end }}
{{- end }}
