# ====================================================================================================
# ====================================================================================================
# ==================================Global Configurations=============================================
# ====================================================================================================
# ====================================================================================================
# The version of the image group in osm-seed, get it here: https://hub.docker.com/r/developmentseed/osmseed-web/tags/
osmSeedVersion: develop-9302179
environment: development
# cloudProvider is provider where you are going to deploy osm-seed, it could be: aws, gcp, minikube
cloudProvider: minikube

# ====================================================================================================
# AWS: In case you are using the cloudProvider=aws set the below variables, We are assuming the nodes has a policies access to S3
# ====================================================================================================
AWS_S3_BUCKET: s3://osm-seed

# ====================================================
# AWS: Specify ARN for SSL certificate, currently assumes a single wildcard cert
# ====================================================

AWS_SSL_ARN: false

# ====================================================================================================
# GCP: In case you are using the cloudProvider=gcp set the below variables
# ====================================================================================================
GCP_STORAGE_BUCKET: gs://osm-seed-test

# ====================================================================================================
# Ingress variables
# ====================================================================================================
ingress:
  enabled: false
  annotations: {}
    # kubernetes.io/ingress.class: nginx
    # kubernetes.io/tls-acme: "true"
  path: /
  hosts:
    - chart-example.local
  tls: []

# ====================================================================================================
# Domain app configuration
# ====================================================================================================
domain:
  #enabled, If you set  enabled=true, you should uncomment the following configurations
  enabled: false
  # domainName, Add here your domain or the fixed IP  where the server is running
  domainName: example.com
  protocolo: http

# ====================================================================================================
# ====================================================================================================
# ==================================Pods Configurations===============================================
# ====================================================================================================
# ====================================================================================================

# ====================================================================================================
# Variables for osm-seed database
# ====================================================================================================
db:
  enabled: true
  image:
    name: 'developmentseed/osmseed-db'
    tag: '0.1.0-n377.hd099819'
  env:
    POSTGRES_DB: openstreetmap
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: '1234'
  persistenceDisk:
    enabled: false
    accessMode: ReadWriteOnce
    mountPath: /var/lib/postgresql/data
    subPath: postgresql-db
    # In case cloudProvider: aws
    # AWS_ElasticBlockStore_volumeID : vol-1234bcd
    # AWS_ElasticBlockStore_size: 500Gi
    # In case cloudProvider: gcp
    GCP_gcePersistentDisk_pdName: osmseed-disk-api-db-v1
    GCP_gcePersistentDisk_size: 50Gi
  resources:
    enabled: false
    requests:
      memory: '1Gi'
      cpu: '1'
    limits:
      memory: '2Gi'
      cpu: '1'
  nodeSelector:
    enabled: false

# ====================================================================================================
# Variables for osm-seed website
# ====================================================================================================
web:
  enabled: true
  # image: 'developmentseed/osmseed-web'
  image:
    name: 'developmentseed/osmseed-web'
    tag: '0.1.0-n377.hd099819'
  replicaCount: 1
  # Set staticIp, if you are using cloudProvider=gcp
  staticIp: 35.247.6.238
  env:
    MAILER_ADDRESS: smtp.gmail.com
    MAILER_DOMAIN: gmail.com
    MAILER_USERNAME: osmseed.test@gmail.com
    MAILER_PASSWORD: '1234'
    NOMINATIM_URL: 'nominatim'
  resources:
    enabled: false
    requests:
      memory: '1Gi'
      cpu: '2'
    limits:
      memory: '2Gi'
      cpu: '2'
  nodeSelector:
    enabled: false

# ====================================================================================================
# Variables for memcached. Memcached is used to store session cookies
# ====================================================================================================
memcached:
  enabled: true
  nodeSelector:
    enabled: false
    label_key: nodegroup_type
    label_value: web
  resources:
    enabled: false
    requests:
      memory: '8Gi'
      cpu: '2'
    limits:
      memory: '8Gi'
      cpu: '2'

# ====================================================================================================
# Variables for id-editor
# ====================================================================================================
idEditor:
  enabled: false

fullHistory:
  enabled: false

# ====================================================================================================
# Variables for osm-seed database backup and restore
# ====================================================================================================
dbBackupRestore:
  enabled: false
  image:
    name: 'developmentseed/osmseed-backup-restore'
    tag: '0.1.0-n377.hd099819'
  schedule: '0 */1 * * *'
  env:
    DB_ACTION: backup
    CLEAN_BACKUPS: true
  resources:
    enabled: false
    requests:
      memory: '300Mi'
      cpu: '0.5'
    limits:
      memory: '400Mi'
      cpu: '0.6'

# ====================================================================================================
# Variables for osm-seed for osmosis, this configuration os to get the planet dump files from apidb
# ====================================================================================================
planetDump:
  enabled: true
  image:
    name: 'developmentseed/osmseed-planet-dump'
    tag: '0.1.0-n377.hd099819'
  schedule: '0 */1 * * *'
  env:
    CLEAN_BACKUPS: true
  resources:
    enabled: false
    requests:
      memory: '14Gi'
      cpu: '4'
    limits:
      memory: '16Gi'
      cpu: '4'
  nodeSelector:
    enabled: false

# ====================================================================================================
# Variables for replication-job, Configuration to create the replication files by, minute, hour, or day
# ====================================================================================================
replicationJob:
  enabled: true
  image:
    name: 'developmentseed/osmseed-replication-job'
    tag: '0.1.0-n377.hd099819'
  resources:
    enabled: false
    requests:
      memory: '20Gi'
      cpu: '8'
    limits:
      memory: '24Gi'
      cpu: '10'
  nodeSelector:
    enabled: false

# ====================================================================================================
# Variables for osm-seed to pupulate the apidb
# ====================================================================================================
populateApidb:
  enabled: false
  image:
    name: 'developmentseed/osmseed-populate-apidb'
    tag: '0.1.0-n377.hd099819'
  env:
    URL_FILE_TO_IMPORT: 'http://download.geofabrik.de/europe/monaco-latest.osm.pbf'
  resources:
    enabled: false
    requests:
      memory: '1Gi'
      cpu: '2'
    limits:
      memory: '2Gi'
      cpu: '2.5'

# ====================================================================================================
# Variables to start a pod to process osm files
# ====================================================================================================
osmProcessor:
  enabled: false
  image:
    name: 'developmentseed/osmseed-osm-processor'
    tag: '0.1.0-n377.hd099819'
  env:
    URL_FILE_TO_PROCESS: 'http://download.geofabrik.de/europe/monaco-latest.osm.pbf'
    OSM_FILE_ACTION: simple_pbf
  resources:
    enabled: false
    requests:
      memory: '14Gi'
      cpu: '4'
    limits:
      memory: '16Gi'
      cpu: '4'

# ====================================================================================================
# Variables for tiler-db
# ====================================================================================================
tilerDb:
  enabled: true
  image:
    name: 'developmentseed/osmseed-tiler-db'
    tag: '0.1.0-n377.hd099819'
  env:
    POSTGRES_HOST: tiler-db
    POSTGRES_DB: tiler-osm
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: '1234'
    POSTGRES_PORT: 5432
  persistenceDisk:
    enabled: false
    accessMode: ReadWriteOnce
    mountPath: /var/lib/postgresql/data
    subPath: postgresql-d
    # In case cloudProvider: aws
    # AWS_ElasticBlockStore_volumeID : vol-1234bcd
    # AWS_ElasticBlockStore_size: 500Gi
    # In case cloudProvider: gcp
    GCP_gcePersistentDisk_pdName: osmseed-disk-tiler-db-v2
    GCP_gcePersistentDisk_size: 50Gi
  resources:
    enabled: false
    requests:
      memory: '1Gi'
      cpu: '2'
    limits:
      memory: '2Gi'
      cpu: '2.5'
  nodeSelector:
    enabled: false

# ====================================================================================================
# Variables for tiler-imposm
# ====================================================================================================
tilerImposm:
  enabled: false
  image:
    name: 'developmentseed/osmseed-tiler-imposm'
    tag: '0.1.0-n377.hd099819'
  env:
    TILER_IMPORT_FROM: osm
    TILER_IMPORT_PBF_URL: http://download.geofabrik.de/europe/monaco-latest.osm.pbf
    TILER_IMPORT_LIMIT: https://gist.githubusercontent.com/Rub21/96bdcac5eb11f0b36ba8d0352ac537f4/raw/2606f2e207d4a0d895897a83efa1efacefd36eb4/monaco.geojson
  persistenceDisk:
    enabled: true
    accessMode: ReadWriteOnce
    mountPath: /mnt/data
    # In case cloudProvider: aws
    # AWS_ElasticBlockStore_volumeID : vol-1234bcd
    # AWS_ElasticBlockStore_size: 500Gi
    # In case cloudProvider: gcp
    GCP_gcePersistentDisk_pdName: osmseed-disk-tiler-imposm-v2
    GCP_gcePersistentDisk_size: 50Gi
  resources:
    enabled: false
    requests:
      memory: '20Gi'
      cpu: '8'
    limits:
      memory: '24Gi'
      cpu: '10'

# ====================================================================================================
# Variables for tiler-server
# ====================================================================================================
tilerServer:
  enabled: false
  image:
    name: 'developmentseed/osmseed-tiler-server'
    tag: '0.1.0-n377.hd099819'
  replicaCount: 1
  # Set staticIp, if you are using cloudProvider=gcp
  staticIp: 35.247.6.238
  env:
    TILER_SERVER_PORT: 9090
    TILER_CACHE_TYPE: file #In case TILER_CACHE_TYPE=s3, the kubernetes teemplate will come up with a deployment pod
    TILER_CACHE_BASEPATH: /mnt/data
    TILER_CACHE_MAX_ZOOM: 22
    # in case s3
    # TILER_CACHE_BUCKET: osmseed-tiler
    # TILER_CACHE_REGION: us-east-1
    # TILER_CACHE_AWS_ACCESS_KEY_ID: xyz
    # TILER_CACHE_AWS_SECRET_ACCESS_KEY: xyz/q
  # In case you use TILER_CACHE_TYPE: file with  persistenceDisk
  persistenceDisk:
    enabled: true
    accessMode: ReadWriteOnce
    mountPath: /mnt/data
    # In case cloudProvider: aws
    # AWS_ElasticBlockStore_volumeID : vol-1234bcd
    # AWS_ElasticBlockStore_size: 500Gi
    # In case cloudProvider: gcp
    GCP_gcePersistentDisk_pdName: osmseed-disk-tiler-server-v2
    GCP_gcePersistentDisk_size: 50Gi
  resources:
    enabled: false
    requests:
      memory: '1Gi'
      cpu: '2'
    limits:
      memory: '2Gi'
      cpu: '2'
  nodeSelector:
    enabled: false

# ====================================================================================================
# Variables for tiler-visor
# ====================================================================================================
tilerVisor:
  enabled: false
  image:
    name: 'cartpress_replace'
    tag: 'chartpress_replace'
  replicaCount: 1
  # Set staticIp, if you are using cloudProvider=gcp
  staticIp: 35.247.6.238
  env:
    TILER_VISOR_PROTOCOL: http
    TILER_VISOR_PORT: 8081
  resources:
    enabled: false
    requests:
      memory: '1Gi'
      cpu: '2'
    limits:
      memory: '2Gi'
      cpu: '2'

# ====================================================================================================
# Variables for Tasking Manager API
# ====================================================================================================

tmApi:
  enabled: false
  image:
    name: 'developmentseed/osmseed-tasking-manager-api'
    tag: '0.1.0-n377.hd099819'
  nodeSelector:
    enabled: false
  replicaCount: 1
  staticIp: c
  env:
    POSTGRES_HOST: 'tm'
    POSTGRES_DB: 'tm'
    POSTGRES_PASSWORD: 'tm'
    POSTGRES_USER: 'postgres'
    POSTGRES_PORT: 5432
    TM_ORG_NAME: 'OpenStreetMap'
    TM_ORG_CODE: 'OSM'
    TM_ORG_URL: 'openstreetmap.org'
    TM_ORG_PRIVACY_POLICY_URL: 'openstreetmap.org/copyright'
    TM_ORG_GITHUB: 'github.com/openstreetmap'
    OSM_SERVER_URL: 'https://openstreetmap.org'
    OSM_NOMINATIM_SERVER_URL: 'https://nominatim.openstreetmap.org'
    OSM_REGISTER_URL: 'https://openstreetmap.org/user/new'
    ID_EDITOR_URL: 'https://openstreetmap.org/edit?editor=id'
    POTLATCH2_EDITOR_URL: 'https://openstreetmap.org/edit?editor=potlatch2'
    TM_SECRET: 's0m3l0ngr4nd0mstr1ng-b3cr34tiv3'
    TM_CONSUMER_KEY: 'example'
    TM_CONSUMER_SECRET: 'example'
    TM_EMAIL_FROM_ADDRESS: 'no-reply@openstreetmap.org'
    TM_SMTP_HOST: 'email-smtp.us-east-1.amazonaws.com'
    TM_SMTP_PORT: 25
    TM_SMTP_USER: ''
    TM_SMTP_PASSWORD: ''
    TM_DEFAULT_LOCALE: 'en'
    TM_APP_API_URL: ''
    TM_APP_BASE_URL: ''
  resources:
    enabled: false
    requests:
      memory: '1Gi'
      cpu: '2'
    limits:
      memory: '2Gi'
      cpu: '2'

# ====================================================================================================
# Nominatim image values
# ====================================================================================================

nominatim:
  image:
    name: 'developmentseed/osmseed-nominatim'
    tag: '0.1.0-n391.hd9dad6b'

# ====================================================================================================
# Variables for nominatim db
# ====================================================================================================
nominatimDb:
  enabled: true
  env:
    PG_PORT: 5432
    PG_USER: nominatim
    PG_PASSWORD: password1234
    PG_DATABASE: nominatim
    OSM_URL_FILE: http://download.geofabrik.de/europe/monaco-latest.osm.bz2
    THREADS: 4
    REPLICATION_URL: http://download.geofabrik.de/europe/monaco-updates
    REPLICATION_MAXINTERVAL: 86500
    REPLICATION_UPDATE_INTERVAL: 86500
    REPLICATION_RECHECK_INTERVAL: 900
  persistenceDisk:
    enabled: true
    accessMode: ReadWriteOnce
    mountPath: /var/lib/postgresql/data
    subPath: nominatim-pgdata
    # In case cloudProvider: aws
    AWS_ElasticBlockStore_volumeID: vol-037a44560af1076f1
    AWS_ElasticBlockStore_size: 100Gi
    # In case cloudProvider: gcp
    GCP_gcePersistentDisk_pdName: osmseed-disk-nominatim_db-v1
    GCP_gcePersistentDisk_size: 50Gi
  resources:
    enabled: false
    requests:
      memory: '1Gi'
      cpu: '1'
    limits:
      memory: '2Gi'
      cpu: '1'
  nodeSelector:
    enabled: false

# ====================================================================================================
# Variables for nominatim api
# ====================================================================================================
nominatimApi:
  enabled: true
  replicaCount: 1
  env:
    BASE_URL: 'https://nominatim.osm-seed.test'
  resources:
    enabled: false
    requests:
      memory: '1Gi'
      cpu: '2'
    limits:
      memory: '2Gi'
      cpu: '2'
  nodeSelector:
    enabled: false