# Local DB setup
SECRET_KEY=foo
DJANGO_ALLOWED_HOSTS="localhost 127.0.0.1 [::1]"
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=1234
DJANGO_SUPERUSER_EMAIL="admin@admin.com"
## local Database
POSTGRES_HOST=localhost
POSTGRES_DB=dashboard
POSTGRES_USER=postgres
POSTGRES_PORT=5432
POSTGRES_PASSWORD=1234
## osm-api database
API_DB_POSTGRES_HOST=host.docker.internal
API_DB_POSTGRES_DB=openstreetmap
API_DB_POSTGRES_USER=postgres
API_DB_POSTGRES_PASSWORD=1234
API_DB_POSTGRES_PORT=5432
