# #######################################
# # Environment variables for nominatim settings
# #######################################
PBF_URL=http://download.geofabrik.de/europe/monaco-latest.osm.pbf
REPLICATION_URL=http://download.geofabrik.de/europe/monaco-updates
REPLICATION_UPDATE_INTERVAL=20
REPLICATION_RECHECK_INTERVAL=20
FREEZE=false
IMPORT_WIKIPEDIA=false
IMPORT_US_POSTCODES=false
IMPORT_GB_POSTCODES=false
IMPORT_TIGER_ADDRESSES=false
THREADS=4
NOMINATIM_PASSWORD=kiara
PGDATA=/var/lib/postgresql/14/main
NOMINATIM_ADDRESS_LEVEL_CONFIG_URL=https://raw.githubusercontent.com/OpenHistoricalMap/nominatim-ui/master/address-levels.json
UPDATE_MODE=catch-up
OSMSEED_WEB_API_DOMAIN=www.openstreetmap.org
