# Local DB setup
POSTGRES_DB=db_osm
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234

SECRET_KEY=foo
DJANGO_ALLOWED_HOSTS="localhost 127.0.0.1 [::1]"
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=1234
DJANGO_SUPERUSER_EMAIL="admin@admin.com"