#######################################
# Environment variable for web service
#######################################
# Server settings
SERVER_URL=127.0.0.1
SERVER_PROTOCOL=http

# Mailer settings for SES - AWS
MAILER_ADDRESS=email-smtp.us-east-1.amazonaws.com
MAILER_DOMAIN=osmseed.org
MAILER_USERNAME=...
MAILER_PASSWORD=...
MAILER_FROM=no-reply@osmseed.org
MAILER_PORT=25

# # Mailer settings for gmail
MAILER_ADDRESS=smtp.gmail.com
MAILER_DOMAIN=gmail.com
MAILER_AUTHENTICATION=login
MAILER_USERNAME=test@gmail.com
MAILER_PASSWORD=abc...
MAILER_FROM=no-reply@osmseed.org
MAILER_PORT=25
OPENSTREETMAP_memcache_servers=""

# Nominatim settings
NOMINATIM_URL=nominatim-api

# OAuth 2 settings
# At initial startup the internal editor (iD) and the website must be registered as OAuth 2 applications.
# See https://github.com/openstreetmap/openstreetmap-website/blob/master/CONFIGURE.md#oauth-setup
# The bundled start script will try to register these applications.
# These values are stored in the database and as configuration file in the container.
# If the container is later re-created, these values must be addeded here in this configuration.
# You could find these values in the account section of the admin account.
## OAuth 2 settings for iD (editor)
### OAuth 2 Client ID for iD (editor)
OPENSTREETMAP_id_key="xyz..."

## OAuth 2 settings for the OpenStreetMap web site
### OAuth 2 Client ID for the web site
OAUTH_CLIENT_ID="abc..."
### OAuth 2 Client Secret for the web site
OAUTH_KEY="efg..."

# NEW_RELIC settings
# TODO: Needs to be implemented the New Relic functions in order to make running in the web container
NEW_RELIC_LICENSE_KEY="..."
NEW_RELIC_APP_NAME="..."

### Set organization name, by default : OpenStreetMap
ORGANIZATION_NAME=OSMSeed

# Application status - possible values are:
#   online - online and operating normally
#   api_readonly - site online but API in read-only mode
#   api_offline - site online but API offline
#   database_readonly - database and site in read-only mode
#   database_offline - database offline with site in emergency mode
#   gpx_offline - gpx storage offline
WEBSITE_STATUS=online

# Storage: local or s3 are good choices
OPENSTREETMAP_avatar_storage=s3
OPENSTREETMAP_trace_file_storage=s3
OPENSTREETMAP_trace_image_storage=s3
OPENSTREETMAP_trace_icon_storage=s3

# Disable CGImap if you do not want to use it
#EXTERNAL_CGIMAP=disabled

# See https://guides.rubyonrails.org/security.html#environmental-security
# Optional: if not set default values will be used
RAILS_MASTER_KEY=""
RAILS_CREDENTIALS_YML_ENC=""

# Create user 'admin' with following attributes at first start
# If set, also default OAuth 2 applications will be registered
ADMIN_MAIL="admin@osmseed.org"
# Password must be at least 8 characters or user creation will fail!
ADMIN_PASSWORD=""
