#######################################
# Environment variables for Replication job settings
#######################################

# Link to a public pbf file
# URL_FILE_TO_IMPORT=https://ds-data-projects.s3.amazonaws.com/dc-output.pbf
# URL_FILE_TO_IMPORT=https://ds-data-projects.s3.amazonaws.com/osm-seed-data/ayac.pbf
URL_FILE_TO_IMPORT=https://download.geofabrik.de/europe/monaco-latest.osm.pbf

#Osmosis tuning for server, This variable intends to use much as possible the memory in the server
MEMORY_JAVACMD_OPTIONS=2Gi

