{{- if and .Values.nominatimApi.enabled (eq .Values.serviceType "ClusterIP") }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ template "osm-seed.fullname" . }}-ingress-nominatim-api
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: {{ template ".Release.Name" . }}-letsencrypt-prod-issuer
  tls:
    - hosts:
      - nominatim.{{ .Values.domain }}
      secretName: {{ template "osm-seed.fullname" . }}-secret-nominatim

  rules:
  - host: nominatim.{{ .Values.domain }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ template "osm-seed.fullname" . }}-nominatim-api
            port:
              number: 80
{{- end }}